<%= form_with(model: recipe_book) do |form| %>
  <% if recipe_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_book.errors.count, "error") %> prohibited this recipe_book from being saved:</h2>

      <ul>
        <% recipe_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_name %>
    <%= form.text_field :recipe_name %>
  </div>

  <div class="field">
    <%= form.label :recipe_description %>
    <%= form.text_area :recipe_description %>
  </div>

  <div class="field">
    <%= form.label :submitted_by %>
    <%= form.text_field :submitted_by %>
  </div>

  <div class="field">
    <%= form.label :time_to_prepare %>
    <%= form.text_field :time_to_prepare %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.text_field :difficulty %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_area :ingredients %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="field">
    <%= form.label :vegetarian %>
    <%= form.check_box :vegetarian %>
  </div>

  <div class="field">
    <%= form.label :vegan %>
    <%= form.check_box :vegan %>
  </div>

  <div class="field">
    <%= form.label :gluten_free %>
    <%= form.check_box :gluten_free %>
  </div>

  <div class="field">
    <%= form.label :dairy_free %>
    <%= form.check_box :dairy_free %>
  </div>

  <div class="field">
    <%= form.label :keto %>
    <%= form.check_box :keto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
