<p id="notice"><%= notice %></p>

<!-- *****Jumbotron is depreciated in Bootstrap 5.x*****
<div class="jumbotron">
  <h1 class="display-4"><strong><%= @recipe_book.recipe_name %></strong></h1>
  <p class="lead"><%= @recipe_book.recipe_description %></p>
  <hr class="my-4">
</div>
-->

<!--Bootstrap 5.x 'Jumbotron'-->
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4"><strong><%= @recipe_book.recipe_name %></strong></h1>
  <p><%= @recipe_book.recipe_description %></p>
  <p>Time to prepare: <%= @recipe_book.time_to_prepare %>
  </p>
  <hr class="my-4">
  <p>
    <strong>Ingredients:</strong>
    <%= @recipe_book.ingredients %>
  </p>
  <br/>
  <p>
    <strong>Instructions:</strong>
    <%= @recipe_book.instructions %>
  </p>
  <br/>
  <p>
    <strong>Comments:</strong>
    <%= @recipe_book.comments %>
  </p>
  <br/>

  <%= link_to 'Edit', edit_recipe_book_path(@recipe_book), class:"btn btn-secondary" %>
  <%= link_to 'Back', recipe_books_path, class:"btn btn-secondary" %>

</div>

<!--
<p>
  <h2><%= @recipe_book.recipe_name %></h2>
</p>
<br/>
<p>
  <strong>Recipe description:</strong>
</p>
<p>
  <%= @recipe_book.recipe_description %>
</p>
-->

<p>
  <strong>Rating:</strong>
  <%= @recipe_book.rating %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe_book.difficulty %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe_book.category %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @recipe_book.vegetarian %>
</p>

<p>
  <strong>Vegan:</strong>
  <%= @recipe_book.vegan %>
</p>

<p>
  <strong>Gluten free:</strong>
  <%= @recipe_book.gluten_free %>
</p>

<p>
  <strong>Dairy free:</strong>
  <%= @recipe_book.dairy_free %>
</p>

<p>
  <strong>Keto:</strong>
  <%= @recipe_book.keto %>
</p>

<p>
  <strong>Submitted by:</strong>
  <%= @recipe_book.submitted_by %>
</p>